<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.oracle.web.bean.Admin">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!--注册-->
  <insert id="save" parameterType="com.oracle.web.bean.Admin">
    
    insert into admin (id, name, 
      phone, userName, password
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  
  <!-- 登录 -->
  <select id="login" parameterType="Admin" resultMap="BaseResultMap">
		SELECT * FROM admin
		<where>
		  <if test="username != null and username != ''">
		    and username=#{username}
		  </if>
		   <if test="password != null and password != ''">
		    and password=#{password}
		  </if>
		</where>
	</select>
	
	<!-- 验证 -->
	<select id="queryOne" parameterType="Admin" resultMap="BaseResultMap">
		SELECT * FROM admin WHERE userName=#{username}
	</select>
  
  <update id="updateByPrimaryKey" parameterType="com.oracle.web.bean.Admin">
    
    update admin
    set touxiang = #{touxiang,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select id, touxiang, name, phone, userName, password
    from admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    
    select id, touxiang, name, phone, userName, password
    from admin
  </select>
</mapper>