<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.oracle.web.bean.Admin">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="touxiang" jdbcType="VARCHAR" property="touxiang" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
   
  <!-- 注册 -->
  <insert id="save" parameterType="com.oracle.web.bean.Admin">
    
    insert into admin (id,name, 
      phone, userName, password,touxiang
      )
    values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{touxiang,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <!-- 登录 -->
  <select id="login" parameterType="Map" resultType="com.oracle.web.bean.Admin">
     SELECT * FROM admin WHERE userName=#{userName,jdbcType=VARCHAR}
    </select>
    
	
  <!-- 验证用户名 -->
	
	<select id="queryOne" parameterType="Admin" resultMap="BaseResultMap">
		SELECT * FROM admin WHERE userName=#{userName,jdbcType=VARCHAR}
	</select>
	

  <!-- 修改密码 -->
	<select id="changePassword" resultType="com.oracle.web.bean.Admin">
		update admin set password=#{password,jdbcType=VARCHAR} where userName=#{userName,jdbcType=VARCHAR}
	</select>
	

  <!-- 查看管理员 -->
 	<select id="selectByPrimaryKey" parameterType="String" resultType="com.oracle.web.bean.Admin">
     	select id, name, phone, userName, password,touxiang FROM admin WHERE userName=#{userName,jdbcType=VARCHAR}
    </select>
    
   <!-- 验证密码 -->
    <select id="queryByPassword" parameterType="com.oracle.web.bean.Admin" resultMap="BaseResultMap">
		select userName password from admin where userName=#{userName,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
	</select>
  
  
  <select id="selectAll" resultMap="BaseResultMap">
     select id, name, phone, userName, password
    from admin
  </select>
  
</mapper>